@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');
body {
    margin: 100px;
    width: 336px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 35%;
font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border-radius: 10%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #609dcf;
}

ul li.checked {
  background: rgb(128, 0, 115);
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: rgb(25, 109, 204);
  color: white;
}

.header {
background-size: 100%;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 10%;
}

.color {
  background-image: url(./galaxy.webp);
  background-size: 100%;
    padding: 30px 40px;
    margin-top: -30px;
    margin-left: -40px;
    color: white;
    border-radius: 10px;
    width: 336px;
    height: 28px;
}

.header:after {
  content: "";
  display: table;
  clear: both;

}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 96%;
  padding: 10px;
  float: left;
  font-size: 16px;
 border-radius: 4%;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: rgb(25, 109, 204);
  background-color:  rgb(128, 0, 115);
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  margin-left: 180px;
  margin-top: -38px;
  transition: all;

}
.sortBtn {
position: absolute;
margin-top:-7%;
text-align: right;
margin-left: 20%;
border: none;
background-color:transparent;
border-radius:5%;
width: 20px;
border:none ;
padding-top: 1px;
padding-left: 1px;
height: 25px;

  }
  .sortBtn:hover {
    background-color: rgb(25, 109, 204);
    }
.addBtn:hover {
  background-color: rgb(25, 109, 204);
}
